@use 'abstracts' as *;

section.cta {
  padding-block: 6rem;
  position: relative;

  background-position: 50% 35%;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $clr-overlay;
    z-index: 1;
  }

  .wrapper {
    position: relative;
    z-index: 10;

    color: $clr-base;

    h2 {
      -webkit-text-stroke: 0.25rem $clr-primary;
      text-stroke: 0.25rem $clr-primary;
      color: transparent;
      letter-spacing: 0.5rem;
      @include h1-scale;
    }

    :not(:first-child):not(:last-child) {
      text-wrap: balance;
    }

    .button {
      display: inline-block;
      margin-top: 1rem;

      border: 2px solid $clr-base;
      color: $clr-base;

      background: none;

      :hover,
      :focus {
        border-color: $clr-base-hover;
        color: $clr-base-hover;
      }

      :active {
        border-color: $clr-base-active;
        color: $clr-base-active;
      }

      @media (max-width: $breakpoint-sm) {
        width: 100%;
        text-align: center;
      }
    }

    @media (max-width: $breakpoint-lg) {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;
    }
  }
}

