@use 'abstracts' as *;

a.button {
  display: block;
  padding: 0.75rem 2rem;
  text-decoration: none;
  max-width: max-content;
  text-transform: uppercase;

  font-size: 1.5rem;
  letter-spacing: 1px;

  margin-top: 2rem;

  transition: background-color 250ms ease, border 250ms ease, color 250ms ease;

  @media (max-width: $breakpoint-md) {
    font-size: 1rem;
  }

  &:after {
    content: '\2192';
  }

  &.base {
    color: $clr-contrast;
    background-color: $clr-base;

    &:hover,
    &:focus {
      background-color: $clr-base-hover;
    }

    &:active {
      background-color: $clr-base-active;
    }
  }

  &.primary {
    color: $clr-base;
    background-color: $clr-primary;

    &:hover,
    &:focus {
      background-color: $clr-primary-hover;
    }

    &:active {
      background-color: $clr-primary-active;
    }
  }
}

