@use 'abstracts' as *;

main#scroll-container {
  height: 100dvh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section.homepage-section {
  height: 100dvh;
  position: relative;
  scroll-snap-align: start;
  overflow: hidden;
  color: $clr-base;
  background-size: cover;
  background-position: 50% 50%;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $clr-overlay;
    z-index: 1;
  }

  h2 {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 10;
    -webkit-text-stroke: 0.025em $clr-primary;
    text-stroke: 0.025em $clr-primary;
    color: transparent;
    letter-spacing: 0.5rem;
    font-size: 20rem;
    line-height: 0.8;
    opacity: 1;
    transition: opacity 500ms ease-in-out;

    @media (max-width: $breakpoint-2xl) {
      font-size: 17.5rem;
    }

    @media (max-width: $breakpoint-lg) {
      font-size: 15rem;
    }

    @media (max-width: $breakpoint-md) {
      font-size: 10rem;
      bottom: 1.5rem;
      left: 1.5rem;
    }

    @media (max-width: $breakpoint-sm) {
      font-size: 4rem;
      bottom: 0.5rem;
      left: 0.5rem;
      max-width: 10ch;
      overflow-wrap: break-word;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
  }

  h3 {
    font-family: 'Pridi', serif;
    color: inherit;
    letter-spacing: 0.05em;
  }

  > .content-reveal {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 4rem;
    padding: 4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    z-index: 15;
    opacity: 0;
    transition: opacity 500ms ease-in-out;

    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
      gap: 2rem;
      padding: 2rem;
      width: 100%;
    }

    @media (max-width: $breakpoint-sm) {
      padding: 1rem;
      gap: 1rem;
    }

    img {
      aspect-ratio: 5 / 3;
      object-fit: cover;
      border: 0.25rem solid $clr-base;

      @media (max-width: $breakpoint-md) {
        max-height: 30vh;
      }

      @media (max-width: $breakpoint-sm) {
        display: none;
      }
    }

    .content {
      font-size: 1.25rem;

      @media (max-width: $breakpoint-sm) {
        font-size: 1rem;
      }

      .button {
        display: inline-block;
        margin-top: 1rem;

        border: 2px solid $clr-base;
        color: $clr-base;

        background: none;

        :hover,
        :focus {
          border-color: $clr-base-hover;
          color: $clr-base-hover;
        }

        :active {
          border-color: $clr-base-active;
          color: $clr-base-active;
        }

        @media (max-width: $breakpoint-sm) {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  &.content-revealed {
    h2 {
      opacity: 0;
    }

    > .content-reveal {
      opacity: 1;
    }
  }
}

