$clr-base: hsla(0, 0%, 100%, 1);
$clr-contrast: hsla(0, 0%, 0%, 1);

$clr-overlay: hsla(0, 0%, 0%, 0.4);

$clr-primary: hsla(22, 90%, 55%, 1);
$clr-accent-dark: hsla(236, 59%, 15%, 1);
$clr-accent-light: hsla(225, 20%, 41%, 1);

