$clr-base: hsla(0, 0%, 100%, 1);
$clr-base-hover: hsla(0, 0%, 90%, 1);
$clr-base-active: hsla(0, 0%, 80%, 1);

$clr-contrast: hsla(0, 0%, 0%, 1);

$clr-overlay: hsla(0, 0%, 0%, 0.4);
$clr-overlay-primary: hsla(12, 76%, 34%, 0.4);
$clr-overlay-accent-dark: hsla(236, 59%, 15%, 0.4);

$clr-primary: hsla(22, 90%, 55%, 1);
$clr-primary-hover: hsla(18, 86%, 48%, 1);
$clr-primary-active: hsla(15, 84%, 40%, 1);

$clr-accent-dark: hsla(236, 59%, 15%, 1);
$clr-accent-light: hsla(225, 20%, 41%, 1);

